textarea {
    min-height: 400px;
}

td {
    min-height: 400px;
    text-align: center;
    padding-top: 8px;
}

button {
    min-height: 8px;
    min-width: 8px;
    align-content: center;
    align-items: center;
}