{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <!-- The buttons below, need to selectively show and hide views: the compose button, for example,
     should hide the emails-view and show the compose-view; the inbox button, meanwhile,
      should hide the compose-view and show the emails-view. -->
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- Need to add the content of an email mailbox inside div which id="emails-view" -->
    <!-- Make unordered list with following information about each mail:
     Each email should then be rendered in its own box (e.g. as a <div> with a border)
      that displays who the email is from, what the subject line is, and the timestamp of the email. -->
    <div id="emails-view">
    </div>

    <!-- contains a form where the user can compose a new email inside div which id="email-view" -->
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" {% url 'compose' %}>
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

<!-- JavaScript file below -->
{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}